{% extends "layout.html" %}
{% block content %}
<h2>Contact Us</h2>
<h3> {{ emailaddress }} </h3>

{% load static %}
<p>
    <img width="300" src="{% static 'images/img-02.jpg' %}">
</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum id quidem quis ducimus, mollitia dicta. Labore
    suscipit nulla consequuntur iste blanditiis, corrupti, mollitia qui nesciunt, doloribus perferendis vel delectus
    fuga!
</p>
<p>
    <!-- {{ socialprofiles }} -->
    {% for profile in socialprofiles %}
    <li>
        {{ profile | lower }}
        <!-- template filter -->
    </li>
    {% endfor %}
</p>
<p>
    Our headquater is in
    {% if hq == "d" %}
    <strong>Dhaka</strong>
    {% elif hq == "k" %}
    <strong>Khulna</strong>
    {% elif hq == "b" %}
    <strong>Barishal</strong>
    {% else %}
    <strong>Area 51</strong>
    {% endif %}
</p>
{% endblock %}

{% block title %}
Contact Us
{% endblock %}